body { 
	position:fixed;
     top: 0;
    left: 0;
	width:100%;
	height:100%;
    min-width: 1000px;
	background: url(video.gif) ; 
	background-repeat:no-repeat;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.booktop {
	float: left;
	width:1129px;
	height: 59px;
	background: url(images/booktop.png) center top no-repeat;
	background-size: 1129px 59px;
	margin-bottom: -1px;
}
.bookleft {
	float: left;
	width: 1129px;
	background: #fbf2dc url(images/bookleft.png) left top repeat-y;
	background-size: 84px 115px;
}
.bookright {
	float: left;
	width: 1129px;
	background: url(images/bookright.png) right top repeat-y;
	background-size: 84px 115px;
}
.bookfoot {
	float: left;
	width: 1129px;
	height: 59px;
	background: url(images/bookfoot.png) center top no-repeat;
	background-size: 1129px 59px;
	padding-bottom: 120px;
}