.bggif{  
	position: fixed;  
	right: 0px;  
	bottom: 0px;  
	min-width: 100%;  
	min-height: 100%;  
	z-index:-11;
	filter: blur(6px);
	transform: scale(1.1);
}
.booktop {
	float: left;
	width:1129px;
	height: 59px;
	background: url(images/booktop.png) center top no-repeat;
	background-size: 1129px 59px;
	margin-bottom: -1px;
}
.bookleft {
	float: left;
	width: 1129px;
	background: #fbf2dc url(images/bookleft.png) left top repeat-y;
	background-size: 84px 115px;
}
.bookright {
	float: left;
	width: 1129px;
	background: url(images/bookright.png) right top repeat-y;
	background-size: 84px 115px;
}
.bookfoot {
	float: left;
	width: 1129px;
	height: 59px;
	background: url(images/bookfoot.png) center top no-repeat;
	background-size: 1129px 59px;
	padding-bottom: 120px;
}
.mcbutton{
	background: url(images/button.png) left top no-repeat;
	background-size:394px 74px;
	border:2px solid #000000;
	text-align: center;
	color: white;
	padding:10px 18px;
	font-size: 16px;
}
.mcbutton:hover{
	background: url(images/button.png) left top no-repeat;
	background-size:384px 74px;
	border:2px solid #FFFFFF;
	text-align: center;
	color: white;
	padding:10px 18px;
	font-size: 16px;
}
a:link{
	color: #4169E1;
	text-decoration:none;
}
a:visited{
	color:  #483D8B;
	text-decoration:none;
}
a:hover{
	color: #FFB90F;
	text-decoration:none;
}
.box {
	display: grid;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.box > button {
	border: 20px;
	border-color: #4169E1;
	border-radius: 15px;
	width: 90%;
	margin: 5%;
	/* transition:all 0.5s;
	transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1); */
	line-height: 100px;
}
/* .fadenblur{
	animation:fadenblur 1s 1;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadenblur {
	0%{opacity: 0; filter:blur(6px); transform: translate(0px,20px);}
	100%{opacity: 1; filter:blur(0px); transform: translate(0px,0px);}
} */