body {
    background: #16161e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: PingFang SC, Microsoft YaHei;
}

textarea {
    background: #222432;
    padding: 10px;
    color: #a5aed6;
    border: 1px solid #292934;
    border-radius: 16px;
    width: 100%;
    resize: none;
    transition: border-color 0.3s cubic-bezier(0, 0, 0, 1);
    box-sizing: border-box;
    font-family: inherit;
    scrollbar-width: none;
    field-sizing: content;
}

textarea::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    outline: none;
    border: 1px solid #62627c;
}

button {
    background-color: #535d78;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    min-width: 16px;
    height: 40px;
    padding: 0 16px;
    margin: 16px 4px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transform: scale(1);
    user-select: none;
    overflow: hidden;
    transition: all 0.1s;
    position: relative;
    font-family: inherit;
    outline: none;
    appearance: none;
}

button:active {
    transform: scale(0.9);
}

button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1);
    transform-origin: 50% 50%;
}

@keyframes click {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(20);
    }
}

button:focus:not(:active)::after {
    animation: click 0.8s cubic-bezier(0, 0, 0, 1);
    transition: 0s;
}

.main-content {
    color: #a5aed6;
    background-color: #1b1b25;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    padding: 32px;
    width: 100%;
    max-width: 800px;
    animation: fadein 0.8s cubic-bezier(0, 0, 0, 1) forwards;
}

@keyframes fadein {
    0% {
        opacity: 0%;
        transform: translateY(50px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}